.landing {
  min-height: 100vh;
  margin: 0;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.landing-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.landing-category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.landing-category > .card {
  width: 30rem;
}

.landing-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.landing-info > button,
input {
  width: 50%;
  height: 3rem;
  font-size: 1.5rem;
}

.landing-footer {
  background-color: var(--dark-primary-color);
}

.landing-footer > ul {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.landing-footer > ul > li,
.landing-footer > ul > a {
  font-size: 1.5rem;
  list-style: none;
  padding: 1rem;
  margin: 1rem;
  text-decoration: none;
}

.landing-footer > ul > li:first-child:hover,
.landing-footer > ul > a:hover {
  cursor: pointer;
  text-decoration: underline;
}
